[submodule "Deadman's Switch/lib/forge-std"]
	path = Deadman's Switch/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT-collection/lib/forge-std"]
	path = NFT-collection/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT-collection/lib/openzeppelin-contracts"]
	path = NFT-collection/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Task-6/erc-20_token/lib/forge-std"]
	path = Task-6/erc-20_token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Task-6/erc-20_token/lib/openzeppelin-contracts"]
	path = Task-6/erc-20_token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
